# Airbnb Data

1- Create a New Column price_per_night.

In [ ]:
df["price_per_night"] = df["price"] / df["minimum_nights"]

2- Delete all rows where the price is greater than $500

In [ ]:
#drop the high prices over 500
df.drop(df.loc[df["price"] > 500].index, inplace = True)

3- Delete the host_name and neighbourhood_group columns from the DataFrame df

In [ ]:
df.drop(["host_name","neighbourhood_group"], axis = 1, inplace =True)

4- Rename the column number_of_reviews to reviews_count

In [ ]:
#Rename Columns
df.rename(columns ={"number_of_reviews":"reviews_count"},inplace = True)

5- Convert the price column from integer to float data type

In [ ]:
df["price"]=df["price"].astype(float)

6- Replace all occurrences of Private room in the room_type column with Private

In [ ]:
df["room_type"] = ["Private" if x == "Private room" else x for x in df["room_type"]]

7- Add new row with the given details

In [ ]:
new_row = pd.DataFrame(new_row_data, index=[len(df)])
df = pd.concat([df, new_row])
# make a dataframe out of it then concating it

8- Remove the availability_365 column from the DataFrame without creating a new DataFrame

In [ ]:
df.drop("availability_365", axis = 1, inplace = True)

9- Sort the DataFrame by the price column in descending order

In [ ]:
sorted_df = df.sort_values(by = "price", ascending = False)

10- Convert all prices from US dollars to euros

In [ ]:
df["price_eur"] = df["price"] *0.85

11- Calculate the total price of nights for each listing by multiplying minimum_nights with price_per_night

In [ ]:
df["total_nights_price"] = df["minimum_nights"] * df["price_per_night"]

12- Create a new column named first_word that contains the first word from the name column

In [ ]:
df["first_word"] = df["name"].str.split().str[0]

13- Create a new column named year that contains the year information from the last_review column

In [ ]:
df["year"] = df['last_review'].dt.year