# Working with custom data + titanic bonus

1- Creating dataframe from dictionary

In [ ]:
import pandas as pd

df = pd.DataFrame({
                    "Name":["Alice","Bob","Charlie","Diana",
                           "Emma","Frank","Grace","Henry",
                           "Isabella","Jack","Karen","Liam",
                            "Maria","Nathan","Olivia","Peter"],
                    "Age":[25,30,45,20,28,50,32,37,23,42,29,31,48,27,36,41],
                    "Sex":["F","M","M","F","F","M","F","M","F","M",
                          "F","M","F","M","F","M"]
})

2- Answering Basic Statistical Questions

In [ ]:
df.describe()

3- Creating New Columns

In [ ]:
df["Status"] = ['Student', 'Worker', 'Worker', 'Student', 'Student', 'Retiree', 'Worker', 'Worker', 'Student', 'Worker', 'Student', 'Worker', 'Retiree', 'Student', 'Worker', 'Worker']

4- Renaming Columns

In [ ]:
df.rename(columns ={"Name":"Full Name","Age":"Years Old","Sex":"Gender"},inplace = True)

5- Drop single row

In [ ]:
df.drop(4,inplace=True)

6- Drop multiple rows

In [ ]:
df.drop([7,9],inplace = True)

7- Drop row with condition

In [ ]:
df.drop(df.loc[df['Full Name']=='Bob'].index, inplace=True)

8- Add new row to dataframe

In [ ]:
new_row = {'Full Name': 'Emma', 'Years Old': 28, 'Gender': 'F', 'Status': 'Student'}

df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

9- Add multiple rows

In [ ]:
df2 = pd.DataFrame({
    'Full Name': ['Bob', 'Emma', 'Henry', 'Jack'],
    'Years Old': [30, 28, 37, 42],
    'Gender': ['M', 'F', 'M', 'M'],
    'Status': ['Worker', 'Student', 'Worker', 'Worker'],
})
df = pd.concat([df, df2], ignore_index=True)

10- Filter the data

In [ ]:
Filter_Data = df.loc[(df["Gender"]=="F") & (df["Status"]=="Student") & (df["Years Old"]>20)]

11- Select all correct options

In [ ]:
Filter_Data.shape

12- Select all correct options

In [ ]:
Filter_Data.info()

13- Select all correct options

In [ ]:
Filter_Data.index
Filter_Data.describe()

14- Create Basic Plots: Line Chart

In [ ]:
df.plot(x="Full Name",y= "Years Old",grid = True)
#Jack is older than Grace
#Diana's Age is 20 years old

15- Create Basic Plots: Bar Chart

In [ ]:
gen = df["Gender"].value_counts()
gen.plot(kind = "bar",grid = True)

16- Create Basic Plots: Pie Chart

In [ ]:
gen.plot(kind = "pie",autopct='%1.1f%%' )

17- Reading the Titanic Dataset

In [ ]:
df = pd.read_csv("titanic.csv")

18- Getting Information About the Dataset

In [ ]:
df.info()
#float64
#int64
#object

19- Getting Basic Statistical Information

In [ ]:
df.describe()
#Maximum Fare: 512.32920
#Minimum Fare: 0.00000

20- Calculating Basic Statistics for a Column

In [ ]:
age_mean = df["Age"].mean()
age_median = df["Age"].median()
age_std_deviation = df["Age"].std()

21- Creating a New Column

In [ ]:
df["Family Size"] = df["Siblings/Spouses Aboard"] + df["Parents/Children Aboard"] + 1
#plus one at the end to count the person himself

22- Renaming a Column

In [ ]:
df.rename(columns = {"Fare":"Ticket Price"}, inplace = True)

23- Rename multiple columns.

In [ ]:
df.rename(columns = {"Pclass":"Passenger Class","Name":"Full Name"}, inplace = True)

24- Dropping Rows

In [ ]:
df.drop(df.loc[df["Age"]<18].index, inplace = True)

25- Adding a New Row

In [ ]:
df2 = {'Survived':  0, 
       'Passenger Class': 3, 
       'Full Name': 'Harry', 
       'Sex': 'male', 
       'Age': 30, 
       'Siblings/Spouses Aboard': 0, 
       'Parents/Children Aboard': 2, 
       'Ticket Price': 50.00, 
       'Family Size': 3
    }
df=pd.concat([df,pd.DataFrame([df2])], ignore_index = True)

26- Filtering the Dataset

In [ ]:
filtered_df = df.loc[(df["Passenger Class"]==1) &(df["Ticket Price"] > 100)]

27- Creating a Bar Chart

In [ ]:
# import matplot library
import matplotlib.pyplot as plt
new_df = pd.read_csv("titanic.csv")
counts = new_df["Pclass"].value_counts()
counts.plot(kind = "bar")
plt.show()

28- Creating a Pie Chart

In [ ]:
gender_counts = new_df["Sex"].value_counts()
gender_counts.plot(kind="pie")
plt.show()