# The Birthday Paradox in the NBA

1- What's the probability when n = 10?

In [ ]:
print(birthday_probability(10))

2- What's the probability when n is 15?

In [ ]:
print(birthday_probability(15))

3- Write the function birthday_probability

In [ ]:
#math.comb(n,k)  => n: no. of distinct items,  k: no. of items to choose  => it outputs the number of ways to do that
def birthday_probability(number_of_people):
    prob = 1 - ((364/365) **  math.comb(number_of_people, 2))
    return prob

4- Create the column Birthday in the df

In [ ]:
df["Birthday"] = df['Birth Date'].dt.strftime("%m-%d")

5- How many pairs of players share a birthday for the Atlanta Hawks?

In [ ]:
team_df = df.loc[df["Team"] == 'Atlanta Hawks']
names_df_atl = pd.DataFrame(list(combinations(team_df['Player'], 2)), columns=['Player 1', 'Player 2'])
births_df_atl = pd.DataFrame(list(combinations(team_df['Birthday'], 2)), columns=['Birthday 1', 'Birthday 2'])
check_df = pd.concat([names_df_atl, births_df_atl], axis=1)
(check_df["Birthday 1"]== check_df["Birthday 2"]).sum()

6- How many pairs of players share a birthday in the Cleveland Cavaliers

7- In the Dallas Mavericks, who shares a birthday with J.J. Barea?